# D3 Presents: Data Viz with Python
* * *

## What is this?
* * *

This is a **Jupyter Notebook!** It's an interactive web application that allows you to create documents with inline code snippets.

## Ok...so what are we gonna do with it?
* * * 
We're going to walk through some cool ways to bring data to life. Looking at a spreadsheet is _boring_...let's make some graphs!

## Import libraries

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
# This is only necessary when using matplotlib in a notebook
%matplotlib inline

# Read in the data

In [14]:
# using pandas read_csv function
data = pd.read_csv('nasa_meteorite_data.csv')

In [16]:
# check the first few rows to get a peek at the data
data.head()

,name,id,nametype,recclass,mass_g,fall,year,reclat,reclong,geo_location
0,Aachen,1.0,Valid,L5,21.0,Fell,1880-01-01 00:00:00,50.77500,6.08333,"(50.775000, 6.083330)"
1,Aarhus,2.0,Valid,H6,720.0,Fell,1951-01-01 00:00:00,56.18333,10.23333,"(56.183330, 10.233330)"
2,Abee,6.0,Valid,EH4,107000.0,Fell,1952-01-01 00:00:00,54.21667,-113.00000,"(54.216670, -113.000000)"
3,Acapulco,10.0,Valid,Acapulcoite,1914.0,Fell,1976-01-01 00:00:00,16.88333,-99.90000,"(16.883330, -99.900000)"
4,Achiras,370.0,Valid,L6,780.0,Fell,1902-01-01 00:00:00,-33.16667,-64.95000,"(-33.166670, -64.950000)"